@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body 
{ 
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(10, 13, 10);
    color: #DCDCDC 
}

.titulo-destaque
{
    color: #20f635
}

.apresentacao{
    margin: 10% 15%; /*Podemos mexer no espaçamento de perto para longe*/
    display: flex;/*Or inline flex*/
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*Espaçamento */
}

.apresentacao__conteudo__titulo{
    font-size: 36px ;
    font-family: "Roboto Mono", monospace;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
}

.apresentacao__links{
    display: flex; /* sempre começar com display flex pois tem elementos no flex box que dependem de um elemento "pai" */
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: #00a611;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0; /* padding top e  botton*/
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Mono", monospace;
}