@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*Criar uma váriavel de escopo global*/
:root{
    --cor-primaria: #61542b;
    --cor-secundaria: #fff7e8;
    --cor-terciaria: #e2b28a;
    --cor-hover:  #ff9100;

    --fonte-primaria:  "Roboto mono", monospace;
    --fonte-secundaria: "Roboto Condensed", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body 
{ /*a variavel vai funcionar apenas para o body*/ 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 60px;
}

.cabecalho__menu :hover{
    color: var(--cor-hover);
    transition: 0.3s;
    
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque
{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 8% 10%; /*Podemos mexer no espaçamento de perto para longe*/
    display: flex;/*Or inline flex*/
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*Espaçamento */
}

.apresentacao__conteudo__titulo{
    font-size: 36px ;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400px;        
    font-size: 1em;
    display: flex;
    justify-content: center;
    color: var(--cor-secundaria);
}

.apresentacao__links{
    display: flex; /* sempre começar com display flex pois tem elementos no flex box que dependem de um elemento "pai" */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    
}

.apresentacao__links :hover{
    background-color: var(--cor-hover);
    transition: 0.3s;

}

.apresentacao__links__link{
   /* background-color: #00a611; */
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0; /* padding top e  botton*/
    text-decoration: none;
    color: black;
    font-family: var(--fonte-secundaria);
}


.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family:var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

 